# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm / IDE files
.vscode/
.idea/

# Test/coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Code File
playground/code (1)

# Pytest and Ruff cache
.ruff_cache/
.pytest_cache/

# Pre-commit
.pre-commit-config.yaml